<!DOCTYPE html>
<html lang="zh-CN">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>{{title}}</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css" rel="styleSheet" href="../../static/novel/base.css" ><!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持
    HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/login" class="active"> 首页</a></li>
          <li><a href="/novel">书城</a></li>
          <li><a href="/yonghu"> 我的</a></li>
          <li><a href="/Bookrack"> 书架</a></li>
          <!--<li><a href="#"> 游戏</a></li>-->
          <!--<li><a href="#"> 历史</a></li>-->
          <!--<li><a href="#"> 言情</a></li>-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">更多<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="headerPage xuanhuan">
    <div class="header-search">
      <div class="row">
        <div class="col-lg-4 col-sm-4 col-md-4s col-xs-offset-4 ">
          <div class="input-group">
            <input name="kw" type="text" class="form-control" placeholder="西游记...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">搜索</button>
             <!--<form method="get" action="">-->
				<!--<input name="kw" type="text" placeholder="关键字">-->
				<!--<input type="submit" value="搜索">-->
			</form>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div>

    </div><!-- /.col-lg-6 -->
  <!--<form method="get" action="">-->
				<!--<input name="kw" type="text" placeholder="关键字">-->
				<!--<input type="submit" value="搜索">-->
			<!--</form>-->
  </div>
  <div align="center">
  <table cellspacing="150" >
  <tr>
     <!--{%for recomment in recommend_type %}-->
    <!--<td><a href="{% url 'bookinfo:type' recomment.novel_Id  1%}" ><img src="../../static/novel/image/book2.jpg" width="100" height="100"></a></td>-->
      <!--{%endfor%}-->

      <!--跳转至分类页面-->
      {% for type in types %}

	  <td><a href="/novel/0/type/1?tid={{type.id}}"><img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=4024794832,644261593&fm=26&gp=0.jpg" width="80" height="80"></a>
		  <a href="?tid={{type.id}}"><h4>{{type.name}}</h4></a></td>

		  {% endfor %}
  </table>
  </div>
  <div class="container">
    <div class="recomment ">
      <h3>强烈推荐</h3>
      <div class="row">
        {%for recomment in recommend_list %}
        <div class="reconmentBox col-lg-2  col-md-2 col-sm-2">
          <li class="">
            <dl class="bookImg-Item">
              <dt>
                <a href="{% url 'bookinfo:book' recomment.novel_Id %}" >
                  <img src="{{recomment.novel_img}}" width="120" height="168" alt="/{{recomment.novel_name}}">
                </a>
              </dt>
              <dd class="bookImg-info">
                <h5>{{recomment.novel_name}}</h5>
                <a href="#"><em>{{recomment.novel_author}}</em></a>
              </dd>
            </dl>
          </li>
        </div>
        {%endfor%}
      </div>
      <div class="recomment-text">
        <p class="col-lg-12">{{recommend_text.novel_des}}</p>
        <em class="pull-right">----{{recommend_text.novel_name}}</em>
      </div>
    </div>
    <div class="newbook">

      <div class="row">
        <h3>玄幻新书</h3>

        <div class="box-left col-lg-9">
          {%for recomment in recommend_list1 %}
          <ul>
            <li class="col-lg-4">
              <div class="newBook-item">
                <div class="newBook-img">

                  <a href="{% url 'bookinfo:book' recomment.novel_Id %}" >
                  <img src="{{recomment.novel_img}}" width="120" height="168" alt="/{{recomment.novel_name}}">
                </a>
                </div>
                <div class="item-info">
                  <!--<a href="//book.qidian.com/info/1016777707" data-eid="qd_F24" data-bid="1016777707"-->
                      <!--target="_blank">我没想当驸马爷</a>-->
                 <h5>{{recomment.novel_name}}</h5>
                <a href="#"><em>{{recomment.novel_author}}</em></a>
                </div>

              </div>
            </li>


            <!--<li class="col-lg-4">-->
              <!--<div class="newBook-item">-->
                <!--<div class="newBook-img">-->
                  <!--&lt;!&ndash;<a href="//book.qidian.com/info/1016777707" data-eid="qd_F23" data-bid="1016777707"&ndash;&gt;-->
                    <!--&lt;!&ndash;target="_blank"><img src="https://bookcover.yuewen.com/qdbimg/349573/1016777707/90"&ndash;&gt;-->
                      <!--&lt;!&ndash;alt="我没想当驸马爷"></a>&ndash;&gt;-->
                  <!--<a href="{% url 'bookinfo:book' recomment.novel_Id %}" >-->
                  <!--<img src="{{recomment.novel_img}}" width="120" height="168" alt="/{{recomment.novel_name}}">-->
                <!--</a>-->
                <!--</div>-->
                <!--<div class="item-info">-->
                  <!--<h4><a href="//book.qidian.com/info/1016777707" data-eid="qd_F24" data-bid="1016777707"-->
                      <!--target="_blank">我没想当驸马爷</a></h4>-->
                  <!--<p>周冲彪悍的一生，从诅咒开始。</p>-->
                  <!--<em>火玉麒麟</em>-->
                <!--</div>-->
         <!---->
              <!--</div>-->
            <!--</li>-->

          </ul>
           {%endfor%}
        </div>

        <div class="box-right col-lg-3">
          <h4>新书排行榜</h4>
          {% for newBook in recommend_newBook %}
          <li>
            <span class="num{{i}}">&nbsp;No.1 &nbsp;</span>
            <span><a href="">{{newBook.novel_name}}</a></span>
            <span class="pv">{{newBook.novel_pv}}万</span>
          </li>

          {%endfor%}
        </div>
      </div>
    </div>
    <div class="newChart">
      <div class="newChart-head">
        <h3>推荐小说章节</h3>
      </div>
      <div class="newChartBox">
        <div class="tab-head">
          <ul>
            <span class="bookname">书名</span>
            <span class="chap">章节</span>
            <span class="author">作者</span>
            <!--<span class="count">字数</span>-->
            <span class="time">更新时间</span><br>
          </ul>
        </div>
        <ul>

          <li>
            {% for newchart in newCharts%}
            <span class="bookname"><a href="{% url 'bookinfo:book' newchart.novel.novel_Id %}" >{{newchart.novel.novel_name}}</a></span>
            <span class="chap"><a href="{% url 'bookinfo:content' newchart.novel.novel_Id newchart.novel_idx %}" target="_blank">{{newchart.novel_title}}</a></span>
            <span class="author">{{newchart.novel.novel_author}}</a></span>
              <span class="count">{{newchart.cont}}</span>
              <span class="time">12-04 18:33</span><br>
              {%endfor%}


          </li>


        </ul>

      </div>

    </div>
  </div>



  </div>
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
        for(var i=0;i<10;i++){
          $('.box-right li:eq('+i+')').children('span:first').text('No.'+(i+1)+' ');
          if(i===1){
            $('.box-right li:eq(0)').children('span:first').addClass('num1');
          }
          else if(i===2){
            $('.box-right li:eq(1)').children('span:first').addClass('num2');
          }
          else if(i==3){
            $('.box-right li:eq(2)').children('span:first').addClass('num3');
          }
        }
      //.parallax(xPosition, speedFactor, outerHeight) options:
      //xPosition - Horizontal position of the element
      //inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
      //outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
    })
  </script>
</body>

</html>